<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Lenovo/IdeaProjects/actitime_automation_TestNG/src/test/java/com/actitimeautomation/sample/RegressionTestGroup.java"><classes><class name="com.actitimeautomation.sample.RegressionTestGroup"><methods><include name="regressionTest1"/><include name="tregressionTest2"/><include name="sanityTest3"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="C:/Users/Lenovo/IdeaProjects/actitime_automation_TestNG/src/test/java/com/actitimeautomation/sample/SanityTestGroup.java"><classes><class name="com.actitimeautomation.sample.SanityTestGroup"><methods><include name="test1"/><include name="test2"/><include name="test3"/><include name="test4"/></methods></class></classes></test></suite>